PORT=5001

MONGO_URI=mongodb://localhost:27017/streamforge

JWT_SECRET=replace_me

GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
GOOGLE_CALLBACK_URL=replace_me

CLIENT_URL=http://localhost:5173

NODE_ENV=replace_with_development_or_production